.DS_Store

# SwiftPM
.build
.swiftpm
.netrc
.swift-version

# Theos
.theos
packages/

# Xcode
*.xcodeproj
xcuserdata/
DerivedData/

# Editor / SourceKit
.sourcekit-lsp/
.vscode/
compile_commands.json
