Package: com.ginsu.dodo
Name: Dodo
Version: 5.0.1
Architecture: iphoneos-arm64e
Description: The perfect Lock Screen redesign.
Maintainer: Ginsu
Author: Ginsu
Section: Tweaks
Depends: firmware (>= 14.0), preferenceloader, com.ginsu.comet, com.ginsu.gscore, com.ginsu.gsweather
Pre-Depends: rootless-compat (>= 0.9)
